<ul class="grid">
  {% for post in posts limit: count offset: offset %}
  <li class="article card">
    <a href="{{ post.url }}" style="width: 100%">
      <h2 class="article-title">{{ post.data.title }}</h2>
      <div class="article-time">
        <time datetime="{{ post.date }}">
          {{ post.date | date : "%a, %b %d, %Y" }}
        </time>
      </div>
      <p class="article-description">{{ post.data.description }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
{% include "css/postlists.liquid" %}