---
layout: layouts/default.liquid
---

<header class="post-header">
  <h1 class="post-title">{{ title }}</h1>
  <div class="post-time">
    <time datetime="{{ post.date }}">
      {{ page.date | date : "%a, %b %d, %Y" }}
    </time>
  </div>
</header>

<section class="post-container">
  {{ content }}
</section>

<hr class="br">

{% assign mentions = webmentions.mentions | webmentionsByUrl: page.url %}
<section class="related">
<h2 class="related-title posts" style="color: var(--color-text)">On the web</h2>
{% if mentions.mentionCount > 0 %}
  {% include 'webmentions.liquid' %}
{% endif %}
</section>

{% assign similar = collections.posts | similarPosts: page.inputPath, tags %} {%
if similar.length > 0 %}
<section class="related">
  <h2 class="related-title posts" style="color: var(--color-text)">Some other posts</h2>
  <ul class="related-posts">
    {% for post in similar limit: 2 %}
    <li>
      <a class="related-article" href="{{ post.url }}">
        <h3 class="related-article-title">{{ post.data.title }}</h3>
        <p class="related-article-description">
        Keep&nbsp;reading&nbsp;→
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %} {% include "css/prism.liquid" %}

<style>
  .post-header {
    margin-bottom: var(--space-5);
  }
  .post-title {
    font-weight: bolder;
  }
  .post-time {
    color: var(--color-text-shade);
    font-size: var(--font-size-xs);
  }
  .post-container {
    padding-bottom: var(--space-8);
  }
  
  .post-container a {
    text-decoration: underline solid 3px var(--color-link);
    position: relative;
    color: currentColor;
  }
  
 /* .post-container a::before {
  content: '';
  background-color: var(--color-link-hover);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  border-radius: 6px;
  transition: all .3s ease-in-out;
} */

/*  .post-container a:hover::before {
  content: '';
  text-decoration: none;
  background-color: var(--color-link-hover);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  border-radius: 10px;
} */

  .post-container a:hover {
   outline: 1px solid var(--color-link-hover);
   background-color: var(--color-link-hover);
   color: var(--color-background);
   text-decoration: none;
   }

  .post-container h2 {
    margin-top: var(--space-7);
  }
  .post-container h3 {
    margin-top: var(--space-6);
  }
  .post-container blockquote {
    margin: var(--space-5) 0;
  }
  .post-container > * + * {
    margin-top: var(--space-3);
  }
  .post-container > *:first-child {
    margin-top: 0;
  }
  .post-container blockquote > * + * {
    margin-top: var(--space-3);
  }
  .post-container ul,
  .post-container ol {
    padding-left: var(--space-6);
  }
  .post-container h2 + *,
  .post-container h3 + *,
  .post-container h4 + *,
  .post-container h5 + * {
    margin-top: var(--space-2);
  }
  .related {
    margin-top: var(--space-8);
  }
  .related-posts {
    list-style: none;
  }
  .related-article + .related-article {
    margin-top: var(--space-4);
  }
  .related-article {
    padding: var(--space-2) 0;
    color: var(--color-link);
    text-decoration: unset;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }
 /* .related-article-title {
    transition: color 0.2s ease-in-out;
  } */
  .related-article:hover .related-article-title {
    color: var(--color-link-hover);
  }
  .related-article-description {
    font-size: var(--font-size-xs);
    color: var(--color-text-shade);
  }
  :root {
    --prism-foreground: #393a34;
    --prism-background: transparent;

    --prism-comment: #758575;
    --prism-namespace: #444444;
    --prism-string: var(--color-head);
    --prism-punctuation: #80817d;
    --prism-literal: var(--sand-10);
    --prism-keyword: var(--color-link);
    --prism-function: var(--avocado-10);
    --prism-deleted: #9a050f;
    --prism-class: var(--cyan-10);
    --prism-builtin: #800000;
    --prism-property:#1f51ff;
    --prism-regex: #ad502b;
  }

  [data-theme="dark"] {
    --prism-foreground: #d4d4d4;

    --prism-namespace: #aaaaaa;
    --prism-comment: #758575;
    --prism-namespace: #444444;
    --prism-string: var(--color-head);
    --prism-punctuation: #d4d4d4;
    --prism-literal: var(--sand-8);
    --prism-keyword: var(--color-link);
    --prism-function: var(--avocado-6);
    --prism-deleted: #9a050f;
    --prism-class: #4ec9b0;
    --prism-builtin: #d16969;
    --prism-property: var(--color-primary);
    --prism-regex: #ad502b;
  }
</style>
