---
layout: layouts/default.liquid
---

<header class="post-header">
  <h1 class="post-title">{{ title }}</h1>
  <div class="post-time">
    <time datetime="{{ post.date }}">
      {{ page.date | date : "%a, %b %d, %Y" }}
    </time>
  </div>
</header>

<section class="post-container">
  {{ content }}
</section>

<hr class="br">

{% assign mentions = webmentions.mentions | webmentionsByUrl: page.url %}
<section class="related">
<h2 class="related-title posts" style="color: var(--color-text)">On the web</h2>
{% if mentions.mentionCount > 0 %}
  {% include 'webmentions.liquid' %}
{% endif %}
</section>

{% assign similar = collections.posts | similarPosts: page.inputPath, tags %} {%
if similar.length > 0 %}
<section class="related">
  <h2 class="related-title posts" style="color: var(--color-text)">Some other posts</h2>
  <ul class="related-posts">
    {% for post in similar limit: 2 %}
    <li>
      <a class="related-article" href="{{ post.url }}">
        <h3 class="related-article-title">{{ post.data.title }}</h3>
        <p class="related-article-description">
        Keep&nbsp;reading&nbsp;→
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %} {% include "css/prism.liquid" %}
{% include "css/posts.liquid" %}